HTML, BODY {
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #000000;

   /* background:url('../assets/images/mainBackground_2.jpg')  no-repeat;
    background-attachment: fixed;
    width: auto;
    height: auto;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;*/
}
#wrapper{
    width: 100%;
    height: 100%;
    background-color: #000000;
    outline:none;
}
#screen{
    position: fixed;
    border: 0;
    left:   0;
    top:    0;
    width:  100%;
    height: 100%;
    outline:none;
}

/*video::-webkit-media-controls-panel {
    display: none!important;
    -webkit-appearance: none;
}

video::-webkit-media-controls-play-button {
            display: none!important;
            -webkit-appearance: none;
}

video::-webkit-media-controls-start-playback-button {
    display: none!important;
    -webkit-appearance: none;
}

video::-webkit-media-controls-enclosure {
    display:none !important;
}*/

#warning-message {display: none;
}

#warning-message img{
    width: 100%;
    height: 100%;

}

#link_div{
    width:165px;
    height:35px;
    background:#c80000;
    border-radius: 3px;
    margin:auto;
    line-height: 33px;
}

#link_div span {
    margin-left: 50px;
}

#start_safari_game {
    width:1920px;
    height:1080px;
    background:#292727;
    color:white;
    text-decoration:none;
    padding-top:335px;
    display: block;
}

@media only screen and (orientation:portrait){
    #wrapper { display:none; }
    #warning-message { display:block; }
}

@media only screen and (orientation:landscape){
    #warning-message { display:none; }
}
/*@font-face {
    font-family: TrajanPro;
    font-style: normal;
    font-weight: 400;
    src: url("trajanpro-bold-webfont.woff");
}*/
/*@font-face {
    font-family: Newgtbxc;
    font-style: normal;
    font-weight: 400;
    src: url("Newgtbxc.ttf");
}*/

@font-face {
    font-family: 'Roboto', sans-serif;
}
