html {
    background: url("../images/mb.jpg") no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow-y:hidden;
    overflow-x:hidden;
}

.game_container {
    display: block;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0);
    overflow-y:hidden;
    overflow-x:hidden;
}

@supports(padding: max(0px)) {
    .game_container {
        padding-left: max(0px, env(safe-area-inset-left));
        padding-right: max(0px, env(safe-area-inset-right));
    }
    /*body { padding: env(safe-area-inset, 0px); }*/
}

@media only screen and (orientation:portrait){
    /* #game { display:none; }  */
    /* #warning-message { display:block; ; }*/
}

@media only screen and (orientation:landscape){
    /* #game { display:block; } */
    /* #warning-message { display:none; } */
}

#warning-message { display:none; }

#warning-message img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}