HTML, BODY {
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #000000;

   /* background:url('../assets/images/mainBackground_2.jpg')  no-repeat;
    background-attachment: fixed;
    width: auto;
    height: auto;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;*/
}
#wrapper{
    width: 100%;
    height: 100%;
    background-color: #000000;
    outline:none;
}
#screen{
    position: fixed;
    border: 0;
    left:   0;
    top:    0;
    width:  100%;
    height: 100%;
    outline:none;
}

