HTML, BODY {
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #000000;
}
#wrapper{
    width: 100%;
    height: 100%;
    background-color: #000000;
}
#screen{
    position: fixed;
    border: 0px;
    left:   0%;
    top:    0%;
    width:  100%;
    height: 100%;
}
